.bottle {
  width: 15vmin; /* Уменьшаем размер бутылки */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  cursor: pointer;
  transform-origin: center; /* Центр вращения — центр изображения */
}
